body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    margin-bottom: 0;
    line-height: 1.2;
}

table {
    border-collapse: collapse;
}

.flex {
    display: flex;
    gap: .5rem;
}

.note {
    font-style: italic;
    background-color: rgba(255, 255, 0, 0.665);
    width: fit-content;
}

.text-sm {
    font-size: .7rem;
    padding: 2px;
}